@import '../../../assets/styles/base';

.mwGameBoard {
  margin: 10px 0 30px;

  &_remainingBombs {
    margin: 8px 0;
    color: $color-dark-gray;
  }

  &_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_messageSection {
    font-size: $font-size-large;
    min-height: 30px;
  }

  &_restart {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  &_restartIcon {
    font-size: 24px;
    margin-left: 5px;
    color: $color-primary;
  }
}