// Define all the reusable application colors.
// Business Colors
$color-primary: #317DAE;

// Grey scale
$color-white: #ffffff;
$color-dark-gray: #3c3c3c;

// Game colors
$color-bomb: #4f4f4f;
$color-flags: #235b96;

// Light - Dark colors
$color-light-1: #67c42f;
$color-light-2: #6da600;
$color-light-3: #fbe500;
$color-light-4: #bd8300;
$color-dark-5: #bc3800;
$color-dark-6: #5c0d5d;
$color-dark-7: #133473;
$color-dark-8: #181f2c;